html, body {
  font-family: 'Noto Sans', sans-serif;
}

input[type="checkbox"] {
  width: 18px;
  cursor: pointer;
  height: 18px;
}

p {
  line-height: 20px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, .7);
}

h1, h2 {
  font-weight: bold;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 18px;
}